schema_version=1
status=terminated
started_epoch=1786177372
stopped_epoch=1786178277
interval_s=300
initial_delay_s=300
attempts=3
successes=3
failures=0
first_success_epoch=1786177672
last_success_epoch=1786178273
