// Native Slurm: one sbatch submission per LASTZ task.

process {
    executor = 'slurm'

    withName: '.*:LASTZ' {
        array = 0
        beforeScript = ''
    }

    withLabel: 'process_fast' {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 15.min * task.attempt }
    }
}

executor {
    name              = 'slurm'
    queueSize         = 600
    killBatchSize     = 10000
    pollInterval      = '10 s'
    queueStatInterval = '1 min'
    submitRateLimit   = '100/1min'
    exitReadTimeout   = '5 min'
}
