// Slurm Job Arrays: group up to WMSbench_ARRAY_SIZE LASTZ tasks per array.

def works26ArraySize = (System.getenv('WMSbench_ARRAY_SIZE') ?: '100') as int
def works26SlurmQueueSize = (System.getenv('WMSbench_SLURM_QUEUE_SIZE') ?: '600') as int

process {
    executor = 'slurm'

    withName: '.*:LASTZ' {
        array = works26ArraySize
        beforeScript = ''
    }

    withLabel: 'process_fast' {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 15.min * task.attempt }
    }
}

executor {
    name              = 'slurm'
    queueSize         = works26SlurmQueueSize
    killBatchSize     = 10000
    pollInterval      = '10 s'
    queueStatInterval = '1 min'
    submitRateLimit   = '100/1min'
    exitReadTimeout   = '5 min'
}
