schema_version=1
status=terminated
started_epoch=1786156285
planned_end_epoch=1786171135
stopped_epoch=1786157247
interval_s=300
initial_delay_s=300
attempts=3
successes=3
failures=0
first_success_epoch=1786156585
last_success_epoch=1786157186
