schema_version=1
status=terminated
started_epoch=1786176650
stopped_epoch=1786177272
interval_s=300
initial_delay_s=300
attempts=2
successes=2
failures=0
first_success_epoch=1786176950
last_success_epoch=1786177250
