profiles {
    local {
        process.executor = 'local'

        executor {
            cpus      = 120
            memory    = 480.GB
            queueSize = 128
        }

        process {
            withName: '.*' {
                time = 0
            }

            withName: '.*:LASTZ' {
                beforeScript = ''
                cpus         = 1
                memory       = { 4.GB * task.attempt }
            }

            withLabel: 'process_fast' {
                cpus   = 1
                memory = { 4.GB * task.attempt }
            }
        }
    }
}
