// Flux nested inside a fixed Slurm allocation.

process {
    executor = 'flux'

    withName: '.*:LASTZ' {
        array = 0
        beforeScript = ''
    }

    withLabel: 'process_fast' {
        cpus   = 1
        // Nextflow's Flux executor currently does not enforce this value.
        memory = { 4.GB * task.attempt }
        time   = { 15.min * task.attempt }
    }
}

executor {
    name      = 'flux'
    queueSize = 10000
}
