schema_version=1
status=terminated
started_epoch=1786176695
stopped_epoch=1786177255
interval_s=300
initial_delay_s=300
attempts=1
successes=1
failures=0
first_success_epoch=1786176995
last_success_epoch=1786176995
